[submodule "xuniswapv1/lib/forge-std"]
	path = xuniswapv1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "xuniswapv1/lib/openzeppelin-contracts"]
	path = xuniswapv1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
